﻿@model EBookstore.Models.Bookstore

@{
    ViewBag.Title = "Create";
}
<div class="page-header">
    <h2>New bookstore</h2>
</div>

@using (Html.BeginForm("Create", "Bookstores", FormMethod.Post, new { id = "formCreate"}))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", id = "name", placeholder = "Bookstore name" } })
                <div id="nameError" class="hidden">Naziv mora imati vise od 5 karaktera!</div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Street, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Street, new { htmlAttributes = new { @class = "form-control", id = "street", placeholder = "Bookstore street" } })
                <div id="streetError" class="hidden">Naziv ulice mora imati vise od 5 karaktera!</div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.City, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.City, new { htmlAttributes = new { @class = "form-control", id = "city", placeholder = "Bookstore city" } })
                <div id="cityError" class="hidden">Naziv grada mora imati vise od 4 karaktera</div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input id="buttonPress" type="button" value="Create" class="btn btn-success" />
            </div>
        </div>
    </div>
}

<div>
    <a href="@Url.Action("Index")">
        <span><img src="~/Filter icon/left-arrow.png"/></span>
    </a>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/BookstoreValidator.js"></script>
}
