﻿@model EBookstore.Models.Bookstore

@{
    ViewBag.Title = "Delete";
}
<div class="page-header">
    <h2>Delete</h2>
</div>
<h4>Are you sure you want to delete this?</h4>
<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Street)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Street)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.City)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.City)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <a href="@Url.Action("Index")">
                <span><img src="~/Filter icon/left-arrow.png"/></span>
            </a> |
            <input type="submit" value="Delete" class="btn btn-danger" /> 
        </div>
    }
</div>
