﻿@model EBookstore.Models.Bookstore

@{
    ViewBag.Title = "Details";
}
<div class="page-header">
    <h2>Details</h2>
</div>
<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Street)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Street)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.City)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.City)
        </dd>

    </dl>
</div>
<p>
    <a href="@Url.Action("Index")">
        <span><img src="~/Filter icon/left-arrow.png"/></span>
    </a> |
    <a href="@Url.Action("Edit", new { id = Model.Id})" class="btn btn-warning btn-sm">
        <span class="glyphicon glyphicon-pencil"></span>
    </a>
</p>
