﻿@model IEnumerable<EBookstore.Models.Bookstore>

@{
    ViewBag.Title = "Index";
}
<div class="page-header">
    <h2>Bookstores</h2>
</div>
<p>
    <a href="@Url.Action("Create")">
        <span><img src="~/Filter icon/plus.png" /></span>    
    </a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Street)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th></th>
        </tr>
    </thead>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Street)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.City)
        </td>
        <td>
            <a href="@Url.Action("Edit", new { id = item.Id})" class="btn btn-warning btn-sm">
                <span class="glyphicon glyphicon-pencil"></span>
            </a>
            <a href="@Url.Action("Details", new { id = item.Id})" class="btn btn-default btn-sm">
                <span class="glyphicon glyphicon-info-sign"></span>
            </a>
            <a href="@Url.Action("Delete", new { id = item.Id})" class="btn btn-danger btn-sm">
                <span class="glyphicon glyphicon-trash"></span>
            </a>
        </td>
    </tr>
}

</table>
