﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-image: url('../Filter icon/background.jpg');
    background-repeat: no-repeat;
    background-size: 1450px 1450px;
        font-family: -webkit-body;
    font-size: 17px;
    line-height: 1.42857143;
    color: snow;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.navbar-brand {
    font-size: 40px;
    font-family: 'Gloria Hallelujah', cursive;
    padding-right: 20px;
    color: snow;
}

.navbar-nav {
    float: right;
    
}

.navbar-default {
    background-color: rgba(000, 0, 0, 0.4);
}

.pull-left{
    float: right !important;
}
table {
    background-color:transparent;
}
.navbar-nav > li > a {
    background-color: white;
}
thead {
    background-color: #161914;
    opacity: 0.5;
}
#filter{
    float: right;
}
.pagination > li > a, .pagination > li > span{
    background-color: seagreen;
    color: snow;
}
.pagination > .active > a {
    background-color: #d0d9e8;
    border: #d0d9e8;
}
#img9{
    width: 120px;
    height: 150px;
}
#img10 {
    width: 120px;
    height: 150px;
}
#img11 {
    width: 120px;
    height: 150px;
}
#laguna{
    width: 100px;
    height: 80px;
}
#delfi {
    width: 100px;
    height: 80px;
}
#vulkan {
    width: 100px;
    height: 80px;
}
#bcgknjiga9{
    background-color: rgba(000, 0, 0, 0.3);
}
#bcgknjiga10{
    background-color: rgba(000, 0, 0, 0.3);
}
#bcgknjiga11{
    background-color: rgba(000, 0, 0, 0.3);
}
.navbar-brand{
    color: snow;
}
.navbar-default .navbar-brand{
    color: snow;
}
.navbar-default .navbar-collapse{
    border-color: none;
}
#imgblock1{
    display: block;
}
#top1{
    width: 150px;
    height: 150px;
}
#top2 {
    width: 150px;
    height: 150px;
}
#top3 {
    width: 150px;
    height: 150px;
}
#top4 {
    width: 150px;
    height: 150px;
}
* {
    margin: 0;
    padding: 0;
}

.rate {
    float: left;
    height: 46px;
    padding: 0 10px;
}

    .rate:not(:checked) > input {
        position: absolute;
        top: -9999px;
    }

    .rate:not(:checked) > label {
        float: right;
        width: 1em;
        overflow: hidden;
        white-space: nowrap;
        cursor: pointer;
        font-size: 30px;
        color: #ccc;
    }

        .rate:not(:checked) > label:before {
            content: '★ ';
        }

    .rate > input:checked ~ label {
        color: #ffc700;
    }

    .rate:not(:checked) > label:hover,
    .rate:not(:checked) > label:hover ~ label {
        color: #deb217;
    }

    .rate > input:checked + label:hover,
    .rate > input:checked + label:hover ~ label,
    .rate > input:checked ~ label:hover,
    .rate > input:checked ~ label:hover ~ label,
    .rate > label:hover ~ input:checked ~ label {
        color: #c59b08;
    }
#toplista1 {
    width: 150px;
    height: 200px;
}
#toplista2 {
    width: 150px;
    height: 200px;
}
#toplista3 {
    width: 150px;
    height: 200px;
}
#toplista4 {
    width: 150px;
    height: 200px;
}
#toplista5 {
    width: 150px;
    height: 200px;
}
#toplista6 {
    width: 150px;
    height: 200px;
}
#color {
    color: black;
    font-size: 30px;
    font-family: 'Gloria Hallelujah', cursive;
}
#topList {
    font-family: 'Gloria Hallelujah', cursive;
    color: black;
    font-size: 40px;
    text-shadow: 5px 3px white;
}
#sale {
    font-family: 'Gloria Hallelujah', cursive;
    color: black;
    font-size: 40px;
    text-shadow: 5px 3px white;
}
#fImage{
    float: right;
    padding: 5px;
}
#follow{
    float: right;
    margin: auto;
}