﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="https://fonts.googleapis.com/css?family=Gloria+Hallelujah" rel="stylesheet">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("E-Bookstore", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <div class="tabs">
                    <ul class="nav navbar-nav">
                        <li id="books">@Html.ActionLink("Books", "Index", "Books")</li>
                        <li id="bookstores">@Html.ActionLink("Bookstores", "Index", "Bookstores")</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Ilić Aleksandar</p>

            <div class="col-md-2"><img src="~/Footer images/laguna.jpg" id="laguna" /></div>
            <div class="col-md-2"><img src="~/Footer images/delfi.png" id="delfi" /></div>
            <div class="col-md-2"><img src="~/Footer images/vulkan.jpg" id="vulkan" /></div>
            <div id="email">
                <p>
                    Enter your e-mail: <br />
                    <input type="email" />
                </p>
                <div>
                    <p id="follow">Follow us</p>
                    <div id="fImage">
                        <img src="~/Footer images/facebook.png" />
                    </div>
                    <div id="fImage">
                        <img src="~/Footer images/instagram.png" />
                    </div>
                    <div id="fImage">
                        <img src="~/Footer images/twitter.png" />
                    </div>

                </div>
            </div>
        </footer>
    </div>

    

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
