﻿@{
    ViewBag.Title = "Home Page";
}
    <div class="w3-content w3-section col-md-6" style="max-width:500px;">
        <img class="mySlides w3-animate-top" src="~/Slider images/knjiga1.jpg" alt="Image 1" style="height:450px; width:80%">
        <img class="mySlides w3-animate-bottom" src="~/Slider images/knjiga2.jpg" alt="Image 2" style="width:80%; height:450px">
        <img class="mySlides w3-animate-top" src="~/Slider images/knjiga3.jpg" alt="Image 3" style="width:80%; height:450px">
        <img class="mySlides w3-animate-bottom" src="~/Slider images/knjiga4.jpg" alt="Image 4" style="width:80%; height:450px">
        <img class="mySlides w3-animate-top" src="~/Slider images/knjiga5.jpg" alt="Image 5" style="width:80%; height:450px">
        <img class="mySlides w3-animate-bottom" src="~/Slider images/knjiga6.jpg" alt="Image 6" style="width:80%; height:450px">
        <img class="mySlides w3-animate-top" src="~/Slider images/kniga7.jpg" alt="Image 7" style="width:80%; height:450px">
        <img class="mySlides w3-animate-bottom" src="~/Slider images/knjiga8.jpg" alt="Image 8" style="width:80%; height:450px">
    </div>
    <center><div><h2 id="topList">Top list</h2></div></center>
<div class="col-md-2">
    <p id="color">1.</p>
    <img src="~/Slider images/toplista1.jpg" id="toplista1"/>
</div>
<div class="col-md-2">
    <p id="color">2.</p>
    <img src="~/Slider images/toplista2.jpg" id="toplista2" />
</div>
<div class="col-md-2">
    <p id="color">3.</p>
    <img src="~/Slider images/toplista3.jpg" id="toplista3" />
</div>
<div class="col-md-2">
    <p id="color">4.</p>
    <img src="~/Slider images/toplista4.jpg" id="toplista4" />
</div>
<div class="col-md-2">
    <p id="color">5.</p>
    <img src="~/Slider images/toplista5.jpg" id="toplista5" />
</div>
<div class="col-md-2">
    <p id="color">6.</p>
    <img src="~/Slider images/toplista6.jpg" id="toplista6" />
</div>
   
<center><div class="col-md-12"><h2 id="sale">Sale</h2></div></center>
<br />
<div class="col-md-4">
    <center><a href="@Url.Action("Index", "Books")"><img src="~/Slider images/knjiga9.jpg" id="img9" /></a></center><br />
    <p id="bcgknjiga9">
        Više nema sveta koji poznajemo. Kakav će svet nastati umesto njega?
        Završnica serijala Prolaz.
        Prošli ste Prolazom. Suočili ste se sa Dvanaestoricom.
        Sad stupite u Grad ogledala gde ćete prisustvovati konačnom obračunu. 
        Dok bestseler epopeja hita prema zaprepašćujućoj završnici, 
        Kroninova grupa preživelih čeka na drugi dolazak neopisive tame.
    </p>
</div>
<div class="col-md-4">
    <center><a href="@Url.Action("Index", "Books")"><img  src="~/Slider images/knjiga10.jpg" id="img10"/></a></center><br />
    <p id="bcgknjiga10">
        Slavni detektiv stoji na litici kraj mora. Tu se, pre mnogo godina,
        dogodila nesreća sa smrtnim ishodom, a ubrzo zatim su otkrivena još dva tela – muža i žene,
        ubijenih iz revolvera. Ko je ubio koga? Da li je to bio zločin iz strasti? Ili sporazumno 
        samoubistvo? Ili hladnokrvno ubistvo? Poaro se vraća u prošlost i otkriva da stari gresi
        bacaju dugačke senke.
    </p>
</div>
<div class="cold-md-4">
    <center><a href="@Url.Action("Index", "Books")"><<img src="~/Slider images/knjiga11.jpg"  id="img11"/></a></center><br />
    <p id="bcgknjiga11">
        Soni Lofthus je neobično harizmatičan i samozadovoljan mladić.
        U zatvoru je skoro pola života. Tu je omiljen jer se zatvorenicima čini da on ume da ih razreši grehova.
        Njima nije važno što je Soni težak heroinski zavisnik niti im je čudno to što uvek uspeva da nabavi obilne z
        alihe droge. Svejedno im je i to što možda služi kaznu za tuđe zločine.
    </p>
</div>
<br />
<br />

@section Scripts{
    <script src="~/Scripts/Slider.js"></script>
}