﻿@model EBookstore.Models.Book

@{
    ViewBag.Title = "Delete";
}
<div class="page-header">
    <h2>Delete</h2>
</div>
<h4>Are you sure you want to delete this?</h4>
<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Bookstore.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bookstore.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Author)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Author)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.genre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.genre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Created)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Created)
        </dd>

    </dl>

    @using (Html.BeginForm("Delete", "Books", FormMethod.Post)) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <a href="@Url.Action("Index")">
                <span><img src="~/Filter icon/left-arrow.png"/></span>
            </a> |
            <input type="submit" value="Delete" class="btn btn-danger" /> 
            
        </div>
    }
</div>
