﻿@model EBookstore.Models.Book

@{
    ViewBag.Title = "Details";
}
<div class="page-header">
    <h2>Details</h2>
</div>
<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Bookstore.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bookstore.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Author)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Author)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.genre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.genre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Created)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Created)
        </dd>

    </dl>
</div>
<p>
    <a href="@Url.Action("Index")">
        <span><img src="~/Filter icon/left-arrow.png" /></span>
    </a>
    <a href="@Url.Action("Edit", new { id = Model.Id})" class="btn btn-warning btn-sm">
        <span class="glyphicon glyphicon-pencil"></span>
    </a>

</p>
