﻿@using PagedList.Mvc
@model PagedList.IPagedList<EBookstore.Models.Book>

@{
                /**/

                ViewBag.Title = "Index";
}
<div class="page-header">
    <h2>Books</h2>
</div>

<p>
    <a href="@Url.Action("Create")">
        <span><img src="~/Filter icon/plus.png" /></span>
    </a>
</p>


<div>
    <div class="col-md-6">
        @using (Html.BeginForm("Index", "Books", FormMethod.Get))
        {
            @Html.DropDownList("sortType", ViewBag.Sorting as SelectList, new { @class = "form-control col-md-6" })
            <div>
                <input type="submit" value="Sort" class="btn btn-default btn-md" />
            </div>
        }
    </div>
</div>
<div class="col-md-12">
    <button class="btn btn-md btn-default" id="filter" type="button">
        <span class="glyphicon glyphicon-search"></span>
        Filter
    </button>
</div>


<div id="filterForm" class="hidden">
    <div class="col-lg-6">
        @using (Html.BeginForm("Index", "Books", FormMethod.Get))
        {
            @Html.Label("Name")
            @Html.TextBox("Name", null, new { @class = "form-control" })
            @Html.Label("Author")
            @Html.TextBox("Author", null, new { @class = "form-control" })
            @Html.Label("Price")
            @Html.TextBox("Price", null, new { @class = "form-control" })
            <br />
            <input type="submit" value="Filter" class="btn btn-success" />
        }
    </div>
</div>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model[0].Bookstore.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].Author)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].genre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].Created)
            </th>
            <th></th>
        </tr>
    </thead>


    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Bookstore.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Author)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.genre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Created)
            </td>
            <td>
                <a href="@Url.Action("Edit", new { id = item.Id})" class="btn btn-warning btn-sm">
                    <span class="glyphicon glyphicon-pencil"></span>
                </a>
                <a href="@Url.Action("Details", new { id = item.Id})" class="btn btn-info btn-sm">
                    <span class="glyphicon glyphicon-info-sign"></span>
                </a>
                <a href="@Url.Action("Delete", new { id = item.Id})" class="btn btn-danger btn-sm">
                    <span class="glyphicon glyphicon-trash"></span>
                </a>

            </td>
        </tr>

    }

</table>

<center>
    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
    @Html.PagedListPager(Model, pageNum => Url.Action("Index", new {
    Name = ViewBag.CurrentFilter.Name,
    Author = ViewBag.CurrentFilter.Author,
    Price = ViewBag.CurrentFilter.Price,
    pageNum, sortType =  ViewBag.CurrentSortType
}))
</center>

    @section Scripts{
        <script src="~/Scripts/MyFilter.js"></script>
    }
 
